header .container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
header .container p{
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
}
header .container span{
    font-weight: normal;
}
header{
    background-color: #8fb8ff;
}