#main{
    padding-top: 200px;
}
#main ul li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    margin-right: 20px;
}
#main nav ul{
    display: flex;
    flex-direction: row;
}
#main nav{
    margin-bottom: 40px;
}