#chat .message_to{
    background-color: #4883f8;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
}
#chat .message_to p{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#chat .message_to p span{
    font-weight: normal;
}
#chat .message_to{
    cursor: pointer;
}
#chat .container {
    display: flex;
    justify-content: space-between;
}

#chat .container .right{
    border: 2px solid #4883f8;
    padding-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 800px;
    position: relative;
    height: 550px;
}

#chat .date_name{
    display: flex;
    align-items: center;
}
#chat .date{
    margin-left: 10px;
    font-size: 12px;
}
#chat .message{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #8fb8ff;
}
#chat .name_message{
    font-weight: bold;
}
#chat .inp_btn{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}
#chat .inp_btn input{
    width: 697px;
    height: 30px;
}
#chat  .all_mess{
    height: 500px;
    overflow-y: scroll;
}