#card .container  {
    display: flex;
    justify-content: space-between;
}
#card a{
    display: block;
    margin: 0 auto;
    text-align: center;
}
#card{
    padding-top: 100px;
}
#card h2{
    margin-top: 10px;
    margin-bottom: 10px;
 }
#card p{
    margin-top: 5px;
    margin-bottom: 5px;
}
